<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404: Not found</title>
  </head>
  <body>
    <h1 id="header-1" style="text-align: center;">404: Not found</h1>

    <p style="text-align: center;">
      Sehr geehrter Nutzer, diese Seite gibt oder hat es nie gegeben.
    </p>
    <p style="text-align: center;">
      <a href="http://localhost:3000/todo"
        >Klicke hier um zur Todo-Seite zurück zu kehren...</a
      >
    </p>
  </body>
</html>
