<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404: Not found</title>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <form class="form">
        <h1 id="header-1" class="header">404: Not found</h1>

        <p class="information">
          Sehr geehrter Nutzer, diese Seite gibt oder hat es nie gegeben.
        </p>

        <p class="information">
          Wenn sie denken, dass dies ein Fehler ist, kontaktieren sie bitte
          einen Administrator.
        </p>

        <p class="todo-back-link-paragraph">
          <button
            type="button"
            onclick="location.href='http://localhost:3000/todo';"
            class="todo-back-link-button"
          >
            <span class="todo-back-link-text">Todo-Seite</span>
          </button>
        </p>
      </form>
    </div>

    <link rel="stylesheet" href="/assets/css/404.css" />
  </body>
</html>
