<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <form class="form" id="form">
        <h1 class="header">Login</h1>
        <p>
          <input
            type="text"
            name="username"
            id="username"
            class="username"
            placeholder="Benutzername"
          />
        </p>
        <p>
          <input
            type="password"
            name="password"
            id="password"
            class="password"
            placeholder="Passwort"
          />
        </p>
        <p>
          <input
            type="submit"
            class="submit-button"
            id="submit-button"
            value="Einloggen"
          />
        </p>
        <% if (!tried_login) { %>
        <p class="error">
          Du musst einen Nutzernamen und ein Passwort angeben.
        </p>
        <% } else if (tried_login && !account_exists) { %>
        <p class="error">Ein Account mit diesem Nutzernamen existiert nicht.</p>
        <% } else if (tried_login && account_exists && !password_right) { %>
        <p class="error">
          Das Passwort für den angegebenen Benutzer ist falsch.
        </p>
        <% } else if (tried_login && account_exists && password_right) { %>
        <p class="success">
          Der Login-Vorgang war erfolgreich. Du kannst nun mit<a
            href="http://localhost:3000/todo"
            class="success"
            >diesem Link</a
          >zur Todo-Seite gelangen.
        </p>
        <% } %>
      </form>
    </div>

    <script src="/assets/javascript/cookie_utils.js"></script>
    <link rel="stylesheet" href="assets/css/login.css" />
  </body>
</html>
