<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <form class="form" id="form">
        <h1 class="header">Login</h1>
        <p>
          <input
            type="text"
            name="input-username"
            id="input-username"
            class="input-username"
            placeholder="Benutzername"
          />
        </p>
        <p>
          <input
            type="password"
            name="input-password"
            id="input-password"
            class="input-password"
            placeholder="Passwort"
          />
        </p>
        <p>
          <input
            type="submit"
            class="submit-button"
            id="submit-button"
            value="Einloggen"
          />
        </p>
        <p class="information">
          Wenn ein Account mit diesem Namen noch nicht existiert wird direkt ein
          neuer erstellt.
        </p>
      </form>
    </div>

    <link rel="stylesheet" href="assets/css/login.css" />
  </body>
</html>
