<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO-App</title>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <div class="heading-object" id="heading-object">
        <h1 class="heading-1">~TODO~</h1>

        <p>
          <button
            type="button"
            id="add-button"
            class="add-button"
            onclick="addTodo();"
          >
            <span class="add-button-text">Hinzuf체gen</span>
          </button>
        </p>

        <p>
          <textarea
            class="text-input"
            id="text-input"
            placeholder="Ein neues Todo-Element hinzuf체gen"
            aria-controls="chat-messages"
            aria-label="Ein neues Todo-Element hinzuf체gen"
            aria-invalid="false"
            onkeypress="enterPress(event);"
            spellcheck="false"
            rows="1"
          ></textarea>
        </p>

        <div class="link-box">
          <a href="http://localhost:3000/login" class="link"
            ><button class="link-button">Anderen Account w채hlen</button></a
          >
          <a href="http://localhost:3000/logout" class="link"
            ><button class="link-button">Ausloggen</button></a
          >
          <a href="http://localhost:3000/createaccount" class="link"
            ><button class="link-button">Weiteren Account erstellen</button></a
          >
        </div>
      </div>

      <div class="todo-list" id="todo-list"></div>
    </div>

    <script src="/assets/javascript/cookie_utils.js"></script>
    <script type="text/javascript" src="/assets/javascript/todo.js"></script>

    <link type="text/css" rel="stylesheet" href="/assets/css/todo.css" />
  </body>
</html>
