body {
  background-color: #34495e;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.heading-1 {
  text-align: center;
  color: #dcdde1;
  font-size: 50px;
  font-weight: bold;
}

.text-input {
  width: 80%;
  text-align: left;
  font-size: 15px;

  padding: 5px;

  margin-top: 20px;

  background: none;

  border-style: solid;
  border-radius: 10px;
  border-color: #2980b9;
  resize: none;

  text-align: center;

  outline-width: 0;
  outline: none;

  color: #686868;
  transition: 0.5s;
}

.text-input:focus {
  transition: 0.5s;

  height: 40vh;
  outline-width: 0;
  outline: none;
  border-color: #2ecc71;
}
.text-input:hover {
  transition: 0.5s;
  outline-width: 0;
  outline: none;
  border-color: #2ecc71;
}
.heading-object {
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  text-align: center;

  height: 100vh;
  width: 25vw;
  background-color: #191919;

  border-radius: 5px;
  box-shadow: rgba(22, 36, 36, 0.76) 6px 6px;
}

.add-button-text {
  color: #464646;
  font-size: 15px;
  font-family: Courier, monospace;
  transition: 0.5s;
}

.add-button-text:hover {
  font-size: 16px;
}

.add-button {
  height: 30px;
  width: 60%;
  text-align: center;

  outline-width: 0;
  outline: none;

  transition: 0.5s;

  background: none;
  border-style: solid;
  border-color: #2980b9;
  border-radius: 40px;
  background: none;
}

.add-button:hover {
  height: 40px;
  width: 80%;
  outline-width: 0;
  outline: none;

  border-color: #2ecc71;

  transition: 0.5s;
}

.todo-list {
  top: 30px;
  width: 70vw;
  height: 100vh;
  position: relative;
  margin-left: 30vw;
}

.todo-box {
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  vertical-align: top;
  text-align: left;

  background-color: #191919;

  border-radius: 5px;
  box-shadow: rgba(22, 36, 36, 0.76) 6px 6px;
}

.todo-text {
  text-align: left;

  padding: 10px;
  color: #686868;
}

.remove-todo {
  text-align: right;
  margin-left: 88.5%;
  vertical-align: bottom;

  background: none;
  border-radius: 100px;
  border-color: #2980b9;
  transition: 0.5s;

  margin-bottom: 5px;
}

.remove-todo:hover {
  transition: 0.5s;
  border-color: #2ecc71;
}

.remove-todo-text {
  color: #464646;
  font-family: Courier, monospace;
  padding: 4px;
}
